body {
	font-family: Termina;
	margin-left: 40px
}

a {
	position: relative;
	display: inline-block;
	padding: 10px;
	top: -150px;
	left: -10px;
  color: black;
  text-decoration: none;
}

.home {
  font-size: 30px;

}

.names {
  position: absolute;
  font-family: helvetica;
  font-weight: bold;
  font-size: 2vh;
  width: 300px;
  top: 39%;
  text-transform: uppercase;
}

a:hover, a:active {
/*  background-color: red;*/
/*   border-width: 5px;
   border-color: black;*/
   border: 1px solid black;
  }


.circle {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: transparent;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 44%;
  right: -300%;
  top: 10vh;
  transform: rotate(-35deg)
}

.circle:hover {
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.line {
  position: relative;
  background-color: black;
  width: 500px;
  height: 1.5px;
  top: -97vh;

}


