html {
   animation-name: fadeIn; 
    animation-duration: 1s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
    margin: 0;
    height: 190vh;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
	margin-left: 60px;
}

a {
  font-family: 'Avenir Next';
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-size: 2vh;
}

#links {
  position: absolute;
  top: 3vh;
  left: 40vw;
}

#studio {
  position: absolute;
  top: 3vh;
  left: 47.5vw;
  color: blue;
}


#lab {
  position: absolute;
  top: 3vh;
  left: 55vw;
}


.home {
 position: relative;
 left: -25px;
 top: -150px;
}

.home:hover {
   color: blue;
  }


.project {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 8vh;
  width: 48vw;
  top: 25%;
  left: 9%;
  text-transform: lowercase;
  padding: 4px;
}

.project2 {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 8vh;
  width: 48vw;
  top: 75%;
  left: 9%;
  text-transform: lowercase;
  padding: 4px;
}

.project3 {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 8vh;
  width: 50vw;
  top: 128%;
  left: 9%;
  text-transform: lowercase;
  padding: 4px;
}

.circle {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: transparent;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 44%;
  left: 90%;
  top: -12vh;
  transform: rotate(-35deg)
}

.circle:hover {
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.line {
  position: relative;
  background-color: black;
  width: 538px;
  height: 2px;
  top:  7vh;
  left: 13px;
}

.line2 {
  position: relative;
  background-color: black;
  width: 208px;
  height: 2px;
  top:  57vh;
  left: 13px;
}

.line3 {
  position: relative;
  background-color: black;
  width: 348px;
  height: 2px;
  top:  110vh;
  left: 13px;
}

.number {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 1.5vh;
  top: 30.5%;
  left: 6%;
  text-transform: lowercase;
}

.number2 {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 1.5vh;
  top: 80.5%;
  left: 6%;
  text-transform: lowercase;
}

.number3 {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 1.5vh;
  top: 133.5%;
  left: 6%;
  text-transform: lowercase;
}

.text1 {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 1.5vh;
  width: 27vw;
  top: 50.5%;
  left: 60%;
  text-align: justify;
}

.text2 {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 1.5vh;
  width: 27vw;
  top: 100.5%;
  left: 60%;
  text-align: justify;
}

.text3 {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 1.5vh;
  width: 27vw;
  top: 153%;
  left: 60%;
  text-align: justify;
}

.check {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 1.5vh;
  width: 26vw;
  top: 65.5%;
  left: 60%;
}

.check2 {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 1.5vh;
  width: 26vw;
  top: 114%;
  left: 60%;
}

.check3 {
  position: absolute;
  font-family: 'Avenir Next';
  font-size: 1.5vh;
  width: 26vw;
  top: 179%;
  left: 60%;
}

.check:hover, .check:active, .check2:hover, .check3:hover {
   color: blue;
  }

